[submodule "flint-face"]
	path = flint-face
	url = https://github.com/hamedabdy/flint-face.git
[submodule "flint-core"]
	path = flint-core
	url = https://github.com/hamedabdy/flint-core.git
[submodule "flint-worker"]
	path = flint-worker
	url = https://github.com/hamedabdy/flint-worker.git
